* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  background-color: #0d7dc1;
  columns: #3333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

.hero {
  display: flex;
  height: 50px;
  align-items: center;
  width: 35vw;
  gap: 20px;
  margin-bottom: 15px;
}

.hero h1 {
  color: #05507d;
  margin-top: 5px;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70vh;
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}

.voice-container {
  display: flex;
  margin-bottom: 20px;
  margin-left: 10px;
}

.chat-history button {
  width: fit-content;
  background-color: #e0f7ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 20px;
}
